<article class="embed-wide content-type-blog-post">
    <div class="banner-image">
        <div class="thumbnail text-center">
            {{ ez_render_field(content, 'image', {
                'parameters': {'alias': 'original', 'class': 'img-fluid w-100'}
            }) }}
            <div class="title">
                <h1 class="field-title">{{ ez_render_field(content, 'title') }}</h1>
            </div>
        </div>
    </div>
</article>
