{% extends "@ezdesign/pagelayout.html.twig" %}

{% block content %}
    <section class="content-type-landing-page full-view">
        {{ ez_render_field(content, 'page', {
            'attr': {
                'class': 'landing-page--dynamic landing-page'
            }
        }) }}
    </section>
{% endblock %}
