<div class="container">
    <div class="col-md-12 main-content">
        <div class="landing-page__zones">
            <div class="landing-page__zone landing-page__zone--{{ zones[0].id }}" data-ez-zone-id="{{ zones[0].id }}">
                {% if zones[0].blocks %}
                    {% include '@ezdesign/zone/zone.html.twig' with {'blocks': zones[0].blocks} %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
