<article class="embed content-type-blog-post">
        <div class="banner-image">
            <div class="thumbnail text-center">
                {{ ez_render_field(content, 'image', {
                    'parameters': {'alias': 'original', 'class': 'img-fluid w-100'}
                }) }}
                <div class="title">
                    <a href="{{ path(location) }}">
                        {{ ez_content_name(content) }}
                    </a>
                </div>
            </div>
        </div>
</article>
