section.user-preferences {
    background: #fff;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px 75px;
}

section.user-preferences h2 {
    font-size: 18pt;
    padding-bottom: 10px;
}

section.user-preferences p.description {
    font-size: 12pt;
    padding: 10px 0;
}

section.user-preferences .form-item-user-interests-label {
    font-size: 11pt;
    padding-top: 5px;
    display: block;
}

section.user-preferences .form-item-user-interests {
    padding: 5px 5px 20px 0;
}

section.user-preferences .form-item-user-interests input {
    margin: 8px 8px 8px 0;
}

section.user-preferences .form-item-user-interests-error {
    padding: 6px 0;
    margin: 0;
    color: #f00;
    font-weight: bold;
}

section.user-preferences .form-item-user-interests-error ul {
    padding: 0;
    margin: 0;
}

section.user-preferences .form-item-user-interests-error li {
    list-style: none;
}

section.user-preferences .buttons {
    display: flex;
    justify-content: space-between;
}

section.user-preferences .buttons .skip-action span {
    color: hsla(0, 0%, 73%, 1);
    padding: 7px;
    display: block;
    font-weight: bold;
}

section.user-preferences .thanks-text {
    color: hsla(0, 0%, 73%, 1);
    padding: 10px 0;
    margin-top: 15px;
}

section.user-preferences .thanks-text p {
    margin: 0 0 5px;
}
