<article class="cover_container" style="background-image: url({{ ez_field_value(content, 'image').uri }})">
    <div class="cover_container_title">
        <a href="{{ path(location) }}">
            <h1>{{ ez_content_name(content) }}</h1>
            <div>
                {{ ez_render_field(content, 'intro') }}
            </div>
        </a>
    </div>
</article>
