.recommendations {
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    height: 102px;
}

.recommendations a {
    color: #000;
}

.recommendations-article {
    height: 100px;
}

.recommendations-thumbnail {
    background-size: cover;
    background-color: #dedede;
    height: 100%;
}

.recommendations-data {
    background: #fff;
    height: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.recommendations-data h3 {
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.recommendations article {
    padding: 0;
}

.recommendations-indicator {
    background: #fff;
    text-align: center;
    height: 100%;
}

.recommendations .col-sm-1,
.recommendations .col-sm-11 {
    padding: 0;
}

.recommendations-indicator-icon {
    margin-top: 19px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.recommendations-indicator-icon-like {
    background: url('/bundles/app/images/recommendations/icon-like.svg') no-repeat;
}

.recommendations-indicator-icon-loading {
    background: url('/bundles/app/images/recommendations/icon-loading.svg') no-repeat;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: loader_spin 1s linear infinite;
            animation: loader_spin 1s linear infinite;
}

@keyframes loader_spin {
    100% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}

.recommendations-indicator-label {
    margin: 10px 0 13px 0;
    font-weight: bold;
    font-size: 11px;
    font-style: italic;
}

.recommendations-data-placeholder {
    background: #fff url('/bundles/app/images/recommendations/placeholder.png') left no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
}
