@import 'bundles/ezplatformadminuiassets/vendors/bootstrap/scss/bootstrap.scss';
@import '/assets/scss/colors';
@import '/assets/scss/base';
@import '/assets/scss/header';
@import '/assets/scss/footer';
@import '/assets/scss/home';
@import '/assets/scss/article';
@import '/assets/scss/folder';
@import '/assets/scss/place';
@import '/assets/scss/place.list';
@import '/assets/scss/product';
@import '/assets/scss/product.list';
@import '/assets/scss/blog';
@import '/assets/scss/blog.post';
@import '/assets/scss/subscribe';
@import '/assets/scss/tags';
@import '/assets/scss/landing.page';
@import '/assets/scss/user.forms';
@import '/assets/scss/blocks/banner';
@import '/assets/scss/blocks/contentlist';
@import '/assets/scss/blocks/embed';
@import '/assets/scss/blocks/form';
@import '/assets/scss/blocks/gallery';
@import '/assets/scss/blocks/keyword';
@import '/assets/scss/blocks/rss';
@import '/assets/scss/landing-page/landing.page';
