{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}hero{% endblock %}
{% block block_class %}{{ block_class }}{% endblock %}

{% block block_content %}
    <article class="embed-wide content-type-blog-post">
        <div class="banner-image">
            <div class="thumbnail text-center">
                {{ render(controller('ez_content:viewAction', {
                    'contentId': contentId,
                    'viewType': 'block_item_hero'
                })) }}
                <div class="title">
                    <h1 class="field-title">{{ text }}</h1>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
