{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}contentlist{% endblock %}
{% block block_class %}tastes-content-list {{ block_class }}{% endblock %}

{% block block_content %}
    <h3>{{ 'All Cities'|trans }}</h3>
    {% if contentArray|length > 0 %}
        <div class="row block-contentlist-items">
            {% for item in contentArray %}
                <div class="col-md-4 block-contentlist-child">
                    {{ render_esi(controller('ez_content:viewAction', {
                        locationId: item.location.id,
                        viewType: 'card'
                    })) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
