$block-rss: '.block-rss';

.block-rss {
    &__title {
        font-weight: 600;
        margin: 0;
        font-size: #{(24 / $base-font-size)}rem;
        background: $white;
        padding: #{(30 / $base-font-size)}rem;
        border: #{(1 / $base-font-size)}rem solid $grey-lighter;
        text-transform: uppercase;

        &,
        #{($block-rss)}__link {
            color: $orange-light;
        }
    }

    &__items {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        padding: #{(20 / $base-font-size)}rem;
        background: $white;
        display: flex;
        align-items: center;
        border: #{(1 / $base-font-size)}rem solid $grey-lighter;
        margin-top: #{(10 / $base-font-size)}rem;

        &-title {
            color: $grey-dark;
            font-weight: 600;
        }
    }
}
